@import "tailwindcss";

:root {
  --theme: #f7f7f7;
}

body {
  background-color: var(--theme);
}

.Logo{
  width: 60px;
  height: 60px;
}

.featured-pic{
  width: 760px;
  height: 739px;
}

.trending-pic {
  width: 451px;
  height: 553px;
}

.fresh-pic {
  width: 462px;
  height: 462px;
}

.noscroll::-webkit-scrollbar {
  display: none;
}
